<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="AppComponents" Directory="INSTALLFOLDER">
      <Component Guid="206a8c50-612e-451c-89f1-b1100d59ce7c">
        <File Source="WindowKeys.exe" />
        <File Source="WindowKeys.dll" />
        <File Source="WindowKeys.runtimeconfig.json" />
        <File Source="WindowKeys.deps.json" />
        <File Source="appsettings.json" />
        <File Source="Microsoft.Extensions.DependencyModel.dll" />
        <File Source="Serilog.AspNetCore.dll" />
        <File Source="Serilog.dll" />
        <File Source="Serilog.Extensions.Hosting.dll" />
        <File Source="Serilog.Extensions.Logging.dll" />
        <File Source="Serilog.Formatting.Compact.dll" />
        <File Source="Serilog.Settings.Configuration.dll" />
        <File Source="Serilog.Sinks.Console.dll" />
        <File Source="Serilog.Sinks.Debug.dll" />
        <File Source="Serilog.Sinks.File.dll" />
        <RegistryKey Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Run">
          <RegistryValue Type="string" Name="WindowKeys" Value="&quot;[INSTALLFOLDER]WindowKeys.exe&quot;" KeyPath="yes" />
        </RegistryKey>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
